.split {
  @apply form-control w-full flex flex-col md:flex-row space-x-0 sm:space-x-2;
}
.col {
  @apply w-full md:w-1/2;
}

.row {
  @apply flex my-3;

  .rowTitle {
    @apply w-2/5 text-sm text-gray-500 capitalize font-bold px-4 pt-1;
    @apply border-l-2 border-gray-500;

    &.single {
      @apply flex-grow;
    }
  }

  .rowValue {
    @apply flex-grow overflow-auto;

    &.single {
      @apply pl-4;
    }
  }
}

.title {
  @apply text-3xl text-gray-400 text-left mb-4 mt-2;
}

.statusPill {
  @apply px-3 py-1 text-sm bg-gray-400 text-white rounded-full z-10 absolute;

  left: 18px;

  &.hightlight {
    @apply bg-primary;

    &.pending {
      @apply bg-error;
    }
  }
}

.timelineContainer {
  @apply z-10 border-l-4 border-dotted border-gray-300 ml-11;
}

.statusDesc {
  @apply text-sm text-gray-500;
}
