@tailwind base;
@tailwind components;
@tailwind utilities;

.timeline-status::before {
  @apply absolute bg-gray-400 opacity-20;
  width: 3px;
  content: '';
  height: 100%;
  left: 0.5rem;
  top: 0;
	z-index: 1;
}
